<div class="container">
    <h1>All Cards</h1>

    <% @cards.each_slice(5) do |card_group| %>
        <div class="row">
            <% card_group.each do |card| %>
                <div class="card" style="width: 16rem; margin: 1%;">
                <%# <%= image_tag(card.image, :size => "100x180", class: "card-img-top") %>
                <div class="card-body" id="card-<%= card.id %>">
                    <h5 class="card-name"><%= link_to card.name, card_path(card.id) %></h5>
                    </br>
                </div>
            </div>
            <% end %>
        </div>
    <% end %>
</div>
