<div class="container font">
    <h1 class="home">Cards Library</h1>

    <% @cards.in_groups_of(6, false).each do |card_group| %>
        <div class="row">
            <% card_group.each do |card| %>
                <div class="col-md-2 py-2">
                    <div class="card h-100">
                        <%= image_tag(card.image, :size => "100x180", class: "card-img-top") %>
                    
                        <div class="card-img-overlay d-flex flex-column" id="card-<%= card.id %>" >
                            <a href="/cards/<%= card.id %>" class="btn btn-danger mt-auto"><%= card.name %></a>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    <% end %>
</div>
