/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 
//  html,body {
//    width:100vw;
//    height: 100vh;
//    margin: 0;
//  }

.header-vid {
  width: 100%;
  height: 100%;
  display: block;
  background-size: cover;
}

// .header-vid {
//   width: 100%;
//   height: 400px;
//   z-index: -1;
//   display: block;
//   background-size: cover;
// }

// @media (min-aspect-ratio: 16/9) {
//   .header-vid {
//       width:100%;
//       height: auto;
//       display: block;
//       background-size: cover;
//   }
// }

// @media (max-aspect-ratio: 16/9) {
//   .header-vid { 
//       width:auto;
//       height: 100%;
//       display: block;
//       background-size: cover;
//   }
// }

// @media (max-width: 767px) {
//   .header-vid {
//       display: none;
//   }
//   body {
//       background: url('/images/headers/Full (stack!) House.png');
//       background-size: cover;
//   }
// }

.header {
  width: 100%;
  height: 400px;
  background-image: url('/images/headers/Full (stack!) House.png');
  background-size: cover;
}

.navbar {
  font-family: 'Libre Franklin', sans-serif;
}

.center {
  text-align: center;
}

.font {
  font-family: 'Libre Franklin', sans-serif;
}

.home {
  margin: 5rem;
}

.text {
  text-align: justify;
}
.image-border {
  margin: 3rem;
}

.buttons {
  margin: 3rem;
}

.divider{
  width:2rem;
  height:auto;
  display:inline-block;
}

.btn-size {
  height: 4rem !important;
}

.btn-outer {
  text-align: center;
}
